body.light-theme {
	background-color: white;
	color: #222;
}

body.dark-theme {
	background-color: #121212;
	color: #f5f5f5;
}

button {
	margin: 15px;
	padding: 10px 15px;
	cursor: pointer;
}
